<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <img src="../../../assets/img/perro1.jpg" width="500" height="250">
        </div>
        <div class="col-lg-6">
             <img src="../../../assets/img/perro2.jpg" width="500" height="250">
        </div>
    </div>
    <br>
    <br>

A través de la historia, las mascotas han sido grandes compañeras de la vida de las personas, compartiendo alegrías, pero también ayudando a superar momentos difíciles <br> <br>
Adoptar es un gran paso. Hay muchos aspectos que debes considerar previamente, desde elegir el tipo de mascota más adecuada para tu estilo de vida, hasta decidir dónde o con quién adoptar. Por eso queremos ayudarte para que ésta sea una de las mejores experiencias en tu vida y la de tu próximo amigo de cuatro patas. <br><br>
Ante todo, debes tomar en cuenta la gran responsabilidad que representa tener a un animal de compañía dentro de tu vida, ya que desafortunadamente es común que algunos dueños que adquieren un cachorro o un gatito, de forma impulsiva decidan abandonarlo. Esto sucede por lo regular cuando se dan cuenta del compromiso a largo plazo que implica vivir con una mascota. <br> <br>


<h1 class="text-start text-dark fw-ligth fst-italic">
    ¿CÚALES SON LOS REQUISITOS PARA ADOPTAR A UN PERRO O UN GATO?
</h1> <br>

1. Para encontrar al perro o gato ideal para ti, tendrás que investigar un poco. <br> <br>

Al explorar varios tipos y razas de perros y gatos, sus niveles de energía, sus necesidades de aseo y más, puedes asegurarte de que la mascota que llegue a tu hogar se adapte perfectamente a tu vida. Puedes consultar estos artículos para saber si es mejor para ti adoptar un cachorro o un perro adulto <a href="https://www.purina-latam.com/mx/purina/nota/perros/como-elegir-un-perro-en-adopcion-cachorro-o-adulto">pulse aquí</a>o, en su caso, un gatito o gato adulto <a href="https://www.purina-latam.com/mx/purina/nota/gatos/gatos-en-adopcion-que-es-mejor-gatitos-bebes-o-gatos-adultos">consulta aqui</a><br><br>

2. Para adoptar puedes hacerlo por dos vías: refugios o particulares. <br> <br>

Los refugios albergan animales para su cuidado, esperando que éstos encuentren un nuevo hogar que los adopte. También puedes buscar a través de particulares como amigos, familiares o veterinarias, ya sea por contacto directo o también por medio de publicaciones en redes sociales o páginas web. <br><br>

3. Adaptar tu hogar para la llegada de una nueva mascota. <br> <br>

Una vez que te informaste sobre el tipo de mascota que llevarás a casa y, si tuviste la oportunidad de conocerlo por un tiempo, deberás prepararte para adaptar tu casa de acuerdo a las características de tu nueva mascota. Por ejemplo, si es un cachorro muy activo, deberás tener espacio, accesorios y tiempo para dedicarle y evitar que muerda todo; en el caso de llevar a un gato a casa, es importante contar con un rascador para mantenerlo activo, feliz y evitar que rasguñe tus muebles. También es indispensable habilitar un espacio específico para el descanso de tu mascota con una cama, además de recipientes para sus alimentos y, en el caso de los gatos, un arenero para que pueda hacer sus necesidades fisiológicas. <br><br>

<br>
<h1 class="text-start text-dark fw-ligth fst-italic">
    ¿CÚALES SON LOS BENEFICIOS DE ADOPTAR A UN PERRO O A UN GATO?
</h1> <br>
    

Los beneficios de adoptar una mascota son: <br><br>
► Una oportunidad de mejorar la calidad de vida de esa nueva mascota <br> <br>
► La mascota tendrá un vínculo afectivo muy especial contigo en agradecimiento por haberlo adoptado en tu vida. <br> <br>
► Estarás ayudando a otras mascotas en adopción, ya que contribuyes a reducir el número de perros y gatos que viven en los refugios, así como al apoyar el valioso trabajo de estas organizaciones <br>
Los beneficios de tener un perro o un gato en tu vida son: <br> <br>
► Saber que llegarás a casa y tu mascota te recibirá con alegría. Lo cual te da una auténtica sensación de felicidad. <br> <br>
► Tener a tu lado a un perro o un gato te ayuda a disminuir tus niveles de estrés con el simple hecho de estar en contacto con él. <br><br>
► La presencia de una mascota ayuda a que los niños se hagan responsables al cuidar de otro ser vivo. Además, se ha descubierto que los niños que crecen con mascotas tienden a enfermarse con menor frecuencia. <br><br>
<p>► Tener una mascota puede ayudar a las personas a recuperarse de alguna etapa personal angustiante. <br><br>
<br>
<br>

<div class="row">
    <div class="col-lg-6">
        ►►►►► SI AÚN TIENES DUDAS, MIRA ESTE VÍDEO ◄◄◄◄◄
        <div class="ratio ratio-16x9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/HGN_t0kZos0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </div>

    </div>
    <div class="col-lg-6">
        ►►►►► NOS PUEDES ENCONTRAR AQUÍ ◄◄◄◄◄
        <div class="ratio ratio-16x9">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d30591569.620437417!2d-103.341297!3d20.615709000000003!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc2315fa77ab50e81!2sPurina!5e0!3m2!1ses-419!2sco!4v1635058499705!5m2!1ses-419!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>


        </div>

    </div>

</div>
<br>
<br>
<br>
<br> 

    <div class="row">
        <div class="col-lg-6">
           
<h5>FORMULARIO DE ADOPCIÓN</h5> <br>

Adoptar una mascota es una decisión seria, implica alegrías, innumerables recompensas y
            responsabilidades, como velar por la alimentación, salud y seguridad del animalito durante
            toda su vida (que oscila entre 10 hasta 18 años), brindarle amor, compañía y no
            abandonarlo si nos vamos de viaje o nos mudamos de casa. NOS RESERVAMOS el
            derecho de dar en adopción luego de evaluar este formulario. <br><br>

            <h5>SOBRE TI</h5> 
<form>
  <label>NOMBRES Y APELLIDOS</label> <br>
  <input type="text" class="form-control" placeholder="Dígite su respuesta."><br>
  <label>EDAD</label><br>
  <input type="text" class="form-control" placeholder="Dígite su respuesta."><br>
  <label>C.C</label><br>
  <input type="text" class="form-control" placeholder="Dígite su respueta."><br>
  <label>OCUPACIÓN</label><br>
  <input type="text" class="form-control" placeholder="Dígite su respueta."><br>
  <label>DIRECCIÓN</label><br>
  <input type="text" class="form-control" placeholder="Dígite su respueta."><br>
  <label>EMAIL</label><br>
  <input type="text" class="form-control" placeholder="Dígite su respueta."><br>
  <label>TELÉFONO</label><br>
  <input type="text" class="form-control" placeholder="Dígite su respueta."><br>
  <label>¿QUÉ MASCOTA DESEA ADOPTAR</label><br>
  <input type="text" class="form-control" placeholder="Dígite su respueta."><br>
  <label>¿POR QUÉ DESEA ADOPTARLA?</label><br>
  <input type="text" class="form-control" placeholder="Dígite su respueta."><br> 
  <br>
</form>

<h5>SOBRE TU VIVIENDA</h5>
<form>
  <label>¿Vives en casa o departamento?, Si es departamento, ¿permiten mascotas en el
    edificio?</label> <br>
  <input type="text" class="form-control" placeholder="Dígite su respuesta."><br>
  <label>¿Tu vivienda es propia o alquilada?, Si es alquilada, ¿Tienes permiso del dueño?,
    ¿Qué harías si tuvieras que mudarte?</label><br>
  <input type="text" class="form-control" placeholder="Dígite su respuesta."><br>
  <label>¿Es un lugar seguro para una mascota?, ¿Tienes rejas o cercas que impidan que
    tu mascota escape o que se la roben?</label><br>
  <input type="text" class="form-control" placeholder="Dígite su respueta."><br>
  <label>¿Tienes espacio suficiente para una mascota?, ¿A qué áreas de tu hogar tendrá
    acceso?</label><br>
  <input type="text" class="form-control" placeholder="Dígite su respueta."><br>
</form>




        </div>
        <div class="col-lg-6">
            <h5>SOBRE TU FAMILIA:</h5>
            <form>
              <label>¿Cuántas personas viven contigo?, ¿Algún familiar enfermo?</label> <br>
              <input type="text" class="form-control" placeholder="Dígite su respuesta."><br>
              <label>¿Hay niños o personas de edad avanzada?, ¿Todos están de acuerdo en tener una
                mascota?</label><br>
              <input type="text" class="form-control" placeholder="Dígite su respuesta."><br>
              <label>¿Alguno es alérgico al pelo de mascotas?</label><br>
              <input type="text" class="form-control" placeholder="Dígite su respueta."><br>
              <label>¿Hay alguna mujer embarazada o que planee tener un hijo pronto? ¿Aceptarán a tu
                mascota cuándo nazca el bebé?</label><br>
              <input type="text" class="form-control" placeholder="Dígite su respueta."><br> <br>
            </form>
            

            <h5>SOBRE LA MASCOTA:</h5>
            <form>
              <label>¿Has tenido otras mascotas antes?, ¿Qué pasó con ellas?</label> <br>
              <input type="text" class="form-control" placeholder="Dígite su respuesta."><br>
              <label>¿Tienes otras mascotas actualmente en la casa? (número, tipo y edad )</label><br>
              <input type="text" class="form-control" placeholder="Dígite su respuesta."><br>
              <label>¿Qué opinas cuando observas que algunas familias tienen a sus mascotas fuera
                de su casa?</label><br>
              <input type="text" class="form-control" placeholder="Dígite su respueta."><br>
              <label>¿Qué opinas cuando observas que las personas sacan a pasear a sus mascotas
                sin cadena o correa y los llevan
                caminando a su lado?</label><br>
              <input type="text" class="form-control" placeholder="Dígite su respueta."><br>
              <label>¿Cuentas con un presupuesto para cubrir los gastos de la mascota que deseas
                adoptar?</label> <br>
              <input type="text" class="form-control" placeholder="Dígite su respuesta."><br>
              <label>¿Conoces los cuidados que requiere una mascota como la que deseas adoptar?
                Descríbelos</label><br>
              <input type="text" class="form-control" placeholder="Dígite su respuesta."><br>
              <label>¿Qué medios utilizarás para educar a tu mascota sobre sus necesidades básicas,
                comida, obediencia, etc.?</label><br>
              <input type="text" class="form-control" placeholder="Dígite su respueta."><br>
              <label>¿Estás dispuesto (a) a comprender y educar a su mascota en las travesuras que
                incurra en el transcurso de adaptación?</label><br>
              <input type="text" class="form-control" placeholder="Dígite su respueta."><br>
            </form> <br>

            
            
        </div>
    </div>


 
 








    <!---final container-->
</div>
<!-----final container-->
<br>
<br>


